h2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}
h6{
    font-family: 'Roboto Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #2F80ED;
text-align: center;
}

.navdiv {
    background-color: #000000;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: solid 2px;
    border-color: rgba(255, 255, 255, 0.06);
}

.links{
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.92);

}

.gitbtn {
    font-family: 'Manrope';
    text-align: center;
    color: #FFFFFF;
    background: #1B1A1A;
    border-radius: 100px;
    align-items: center;
    border-color: #1B1A1A;
    border: none;

}
.homepage{
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, center bottom;
    background-size: contain,contain;
}

.headcol{
    padding-bottom: 20rem;
}

.webframe{
    box-shadow: 0px -3px 170px 0px #2666be;
}
.Landpagediv h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.headpara {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.prbtn1 {
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background: #2F80ED;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    height: 50px;
    width: 191px;

}

.prbtn2 {
    
    background: rgba(22, 20, 31, 0.3);
    border: 1px solid #908F97;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    height: 50px;
    width: 191px;
}
.foot{
    background: #1B1B21;
    height: 134px;
    padding-left: 10%;
    padding-right: 10%;
}
.linksfoot a{
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
    text-decoration: none;
color: #B0B0BA;
justify-content: center;
    display: flex;
}
.linksfoot{
    align-items: center;
    display: flex;
}
.icons{
    color: white;
    margin-right:10px ;
}

.footlist{
    list-style-type: none;
    display: flex;
    gap:35px;
}
.gitbtnfoot{
    background: #5A97EA;
    border-radius: 100px;
    height: 54px;
    gap: 8px;
    color: #FFFFFF;
    border: none;
}
.footsecond{
    background: #0A0A0D;
    height: 106px;
    padding-left: 10%;
    padding-right: 10%;
}

.footlistsecond{
    list-style-type: none;
    display: flex;
    gap:40px;
}
.linksfootsecond a{
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
    text-decoration: none;
color: white;
justify-content: center;
    display: flex;
}
.Community{
    background: linear-gradient(102.62deg, #2F80ED -9.8%, #6CA1E9 50.8%, #2F80ED 105.41%);
border-radius: 100px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
}
.features{
        padding-left: 10%;
    padding-right: 10%;
}

.card-title{
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 38px;
text-align: center;
color: #F6F6FD;
}
.card-text{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #CDCECD;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-body{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: 10000px 10000px;
}
.card-body:hover {   background-repeat: no-repeat;
    background-position: bottom !important}
.imgdiv{
    height: 200px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.featurescard{
    height: 448px;
    background: linear-gradient(180deg, rgba(34, 31, 46, 0.36) -2.34%, rgba(22, 20, 31, 0) 100%);
    border-radius: 24px;
    border: 1px solid #424243;

}
.card-img-top{
  width: auto;
}
.featurescardPremium{
    height: 562px;
    background: linear-gradient(180deg, #010313 14.5%, rgba(49, 56, 71, 0) 123.4%);
    border-radius: 24px;
    border: 1px solid #FFEBCC

    
}
.imgdivPremium{
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}
 .special1{
    width: 100%!important;

 
  }
  .special2{
    width: 100%!important;


  }
  .bgpower{
    background: #2666BE;
    opacity: 0.52;
    filter: blur(200px);
    z-index: 1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
  }

  .linergrade{
    width: 100%;
    background: linear-gradient(180deg, #0A182E 67.16%, rgba(10, 24, 46, 0) 93.29%);
    height: 165px;
    position: absolute;
    filter: blur(67.5px);
    left: 0px;
top: 232px;
    z-index: 0;
  }
  .upperglow{
    width: 100%;
    background: linear-gradient(180deg, #020414 58.68%, rgba(1, 3, 19, 0) 100%);
    filter: blur(38px);
    height: 165px;
    position: absolute;
    filter: blur(67.5px);
top: 0px;
    z-index: 0;
  }
  .PremiumBtn{
 
    background: linear-gradient(102.62deg, #FFC46C -9.8%, #FFDDAB 50.8%, #EEB258 105.41%);
    height: 36px;
    position: absolute;
    border-radius: 100px;
    width: 100px;
    top: 2rem;
    left: 2rem;
    z-index: 3;
    font-family: 'Roboto Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 36px;

text-align: center;
  }
@media only screen and (min-width: 768px) {
    .Landpagediv h1 {

        font-size: 80px;
    
    }
    .headpara {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
    }
    
  }

  @media only screen and (max-width: 700px) {
    .foot{
        height: 200px;

    }
    .footsecond{
        height: 200px;
    }
    
  }